.modalDialog {
  background-color: var(--form-bg-color);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -o-transform 0.3s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 100;
  min-width: 25%;
}

.modalBody {
  position: relative;
  padding: 1rem 2rem 1rem 1.2rem;
  color: var(--text-color);
}

.modalFooter {
  composes: modalFooter from global;
  /* composes: modalFooter from '../../../index.module.css'; */
}
