.card-chart-wrapper {
  width: calc(100% - 0.5rem);
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  background: white;
  border-radius: 0.8rem;
  border: 0.15rem solid transparent;
  box-shadow: 1px 2px 14px 0px rgb(3 112 63 / 50%);
  color: green;
}

.card-chart-wrapper:hover {
  border: 0.15rem solid green;
}

.section-column {
  width: calc(50% - 0.5rem);
  min-width: 300px;
  display: flex;
  gap: 1rem;
  justify-items: center;
  flex-wrap: wrap;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  justify-content: space-between;
  container-type: inline-size;
  container-name: section-wrapper;
}
