.container {
  align-content: center;
  align-items: center;
  background: linear-gradient(
    50deg,
    var(--background-color-1) 0%,
    var(--background-color-10) 50%
  );
  border-bottom: 1px solid;
  border-top: 1px solid;
  color: var(--color-1);
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 10px;

  & button {
    background: transparent;
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--color-1);
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 4px;
  }
  & a {
    color: var(--color-1);
    text-decoration: none;
    font-size: large;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  & svg {
    fill: var(--color-1);
    font-size: large;
  }
  & .toolbar {
    display: flex;
    gap: 1rem;
  }

  & button:hover {
    color: var(--hover-color-1);
  }

  & span {
    float: left;
  }
}

.radius {
  border: none;
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.titleContainer {
  display: flex;
  gap: 1rem;
}
