.groupedH {
  border-bottom: 1px solid transparent;
  background: var(--background-color-10);
}

.groupedV {
  /* background: #0b0e0b78;
  color: white; */
  /* #0b0e0b78 */

  /* #07250796 */
}

.borderTop {
  border-top: 1px solid var(--color-border-2);
}
