html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: var(--gradient-background);
  color: var(--color-1);
  font-size: 0.9rem;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --border-radius: 10px;
  container-type: inline-size;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-actions {
  display: flex;
  align-items: center;
  align-content: center;
}

/* div [role='grid'] {
  font-family: '72override', var(--font-family);
  font-size: var(--font-size);
  font-weight: 300;
}

div [role='columnheader'] {
  background: #1b4734;
  color: white;
} */

.link-icon {
  background: transparent;
  cursor: pointer;
  width: 24px;
  border-radius: 50%;
  height: 24px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  color: #1b4734;
  border: solid 1px #1b4734;
}
.link-icon span {
  color: #1b4734;
  font-size: 0.85rem;
  display: flex;
}
.link-icon:hover {
  opacity: 0.6;
  border: solid 1px rgb(157 105 34);
}

.grid-row:nth-of-type(odd) {
  background: #fafdf5f2;
}

.grid-row:hover {
  background: var(--rdg-row-hover-background-color);
  cursor: pointer;
}

@container home-wrapper (max-width: 700px) {
  [class*='section-wrapper'] {
    overflow-y: auto;
    height: -webkit-fill-available;
  }
}

@container section-wrapper (max-width: 700px) {
  [data-parent='section-wrapper'] {
    width: calc(100% - 1rem) !important;
  }
  [data-dashboard-role='table'] {
    padding: 1rem 0;
    height: auto !important;
  }
}

@container form-container (max-width: 700px) {
  main {
    padding: 1rem 1rem !important;
  }
  fieldset,
  #custom-field-wrapper {
    width: 100%;
  }

  #field-group,
  #field-row {
    max-width: calc(100% - 1rem);
  }
}

@container form-container (min-width: 701px) and ( max-width: 1200px) {
  main {
    padding: 2rem 2rem !important;
  }
}
/* @container (max-width: 700px) {
  #table-wrapper {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }
  tfoot {
    display: none;
  }
  #table-wrapper table {
    overflow-x: hidden;
  }
  #table-wrapper td {
    margin-right: 1rem;
  }

  tbody tr {
    box-shadow:
      0 1px 2px 0 rgb(0 0 0 / 36%),
      0 1px 5px 0 rgb(0 0 0 / 30%);
    padding: 0.25rem;
  }
} */

:global(.modalFooter) {
  padding: 0.25rem 2rem;
  display: flex;
  gap: 1rem;
  box-shadow:
    0 2px 5px 0 rgb(0 0 0 / 46%),
    0 2px 10px 0 rgb(0 0 0 / 42%);
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: linear-gradient(
    135deg,
    white 20%,
    #c2e5da 0%,
    rgb(237 224 194) 100%
  );
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.modalFooter {
  padding: 0.25rem 2rem;
  display: flex;
  gap: 1rem;
  box-shadow:
    0 2px 5px 0 rgb(0 0 0 / 46%),
    0 2px 10px 0 rgb(0 0 0 / 42%);
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: linear-gradient(
    135deg,
    white 20%,
    #c2e5da 0%,
    rgb(237 224 194) 100%
  );
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
