.headerWrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  padding-left: 6px;
  background: transparent;
  color: inherit;

  & svg {
    fill: var(--color-1);
    display: inline-block;
    margin-left: 7px;
    width: 15px;
    height: 15px;
  }
}

.isFiltering {
  border-bottom: 1px solid rgb(243 240 206);
}

.expander {
  border-radius: var(--border-radius-sm);
  border: 1px solid darkgray;
  cursor: pointer;
  padding: 0 2px;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;

  &.isResizing {
    background: blue;
    opacity: 1;
  }
}

.sortingSpan {
  font-size: medium;
}
